<h1>Modifier la tâche</h1>
<form action="/update" method="POST">
    Tache:
    <input type="text" name="tache" value="<%= tache %>"/><br />
    <input type="hidden" name="idnew_table" value="<%= idnew_table%>"/><br />
    <input type="submit" value="Sauvgarder"/>
</form>